<style>
#modal-overlay {
		     /*visibility: hidden; */   
		     display:none;
		     position: absolute;   /* 使用绝对定位或固定定位  */
		     left: 0px;    
		     top: 0px;
		     width:100%;
		     height:100%;
		    /* text-align:center;*/
		     z-index: 1000;
		    /* background-color: #333; 
		     opacity: 0.5;   /* 背景半透明 */
		}
		/* 模态框样式 */
.modal-data{
			 width:750px;
			 height:400px;
		     margin: 100px auto;
		     background-color: #fff;
		     border:1px solid #000;
		     padding:15px;
		     /*text-align:center;*/
		}

</style>
<div class="container">
	<div id="modal-overlay" class="editSubject">
        <div class="modal-data">
            <ul class="breadcrumb">
                <li>编辑采购申请</li> 
                <a class="pull-right closePop" style="cursor:pointer;">关闭</a>
            </ul>  
	        <div class="col-sm-12">
	            <div class="row">
	                <div class="col-xs-win">             
	                    <form id="purchase_edit_form" method="post" class="form-horizontal" role="form">

	                        <div class="form-group">
	                            <label class="col-sm-3 control-label no-padding-right"> 物资名称: </label>
	                            <div class="col-sm-6">
	                                <input type="text" name="name" id="name" class="form-control"/>
	                            </div>
	                        </div>
	                         <div class="form-group">
	                            <label class="col-sm-3 control-label no-padding-right"> 申请人: </label>
	                            <div class="col-sm-6">
	                                <input type="text" name="applicant" id="applicant" class="form-control"/>
	                            </div>
	                        </div>
	                        <div class="space-4"></div>
	                         <div class="form-group">
	                            <label class="col-sm-3 control-label no-padding-right"> 单价:</label>
	                            <div class="col-sm-6">
	                                <input type="text" name="price" id="price" class="form-control"/>
	                            </div>
	                        </div>
	                         <div class="space-4"></div>
	                         <div class="form-group">
	                            <label class="col-sm-3 control-label no-padding-right"> 数量:</label>
	                            <div class="col-sm-6">
	                                <input type="text" name="num" id="num" class="form-control"/>
	                            </div>
	                        </div>
	                        <div class="space-4"></div>
	                         <div class="form-group">
	                            <label class="col-sm-3 control-label no-padding-right"> 日期:</label>
	                            <div class="col-sm-6">
	                                <input type="text" name="date" id="datetimepicker" class="form-control"/>
	                            </div>
	                        </div>
	                        <input type="hidden" id='edit_id' name="id"  />
	                         <div class="clearfix form-actions submitcenter">

	                                 <button class="btn btn-default " style="width:346px;background-color:#337ab7;color:white" type="submit" >
	                                    <i class="icon-ok bigger-110"></i>
	                                    提交
	                                </button>

	                        </div>
	                    </form>
	                </div>
	            </div>
	        </div>
        </div>
    </div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<br/>
				<div class="col-md-3 column">
					<div class="col-md-12 column">
						<div class="panel-group" id="panel-851664">
							<div class="panel panel-default">
								<div class="panel-heading">
									 <a class="panel-title" data-toggle="collapse" data-parent="#panel-851664" href="#panel-element-673135">申报导航</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 column">
						<div class="panel-group" id="panel-851664">
							<div class="panel panel-default">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="{:U('Xmsb/index')}">课题申请</a></li>
									<li><a href="{:U('Xmsb/department')}">科研平台申请</a></li>
									<li><a href="{:U('Xmsb/coller')}">领用申请</a></li>
									<li><a href="{:U('Xmsb/purchase')}">采购申请</a></li>
									
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-12 column">
						<div class="panel-group" id="panel-851664">
							<div class="panel panel-default">
								<div class="panel-heading">
									 <a class="panel-title" data-toggle="collapse" data-parent="#panel-851664" href="#panel-element-673135">浏览导航</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12 column">
						<div class="panel-group" id="panel-851664">
							<div class="panel panel-default">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="{:U('Xmsb/scanSubject')}">课题进展</a></li>
									<li><a href="{:U('Xmsb/scanDepartment')}">科研平台占用情况</a></li>
									<li><a href="{:U('Xmsb/scanColler')}">领用情况</a></li>
									<li class="active"><a href="{:U('Xmsb/scanPurchase')}">采购申请进展</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-8 column" style="background-color:#f8f8f8;border-radius:6px;border:1px solid #e8e8e8;">
					<form name="form2" method="get" action="">
						<div class="form-group " style="margin-top:20px;">
							<a href="javascript:checkaction(1)"   class="btn btn-default" id="">批量删除</a><input type="submit" class="btn btn-default pull-right search" style="color:white;background-color:#337ab7;" value="搜索">
							<!-- <input class="form-control col-sm-3 pull-right " type="text" id="" name=""  placeholder="年份" class="text" style="width:85px;"/> -->
							<input class="form-control col-sm-3 pull-right" name="name" type="text" style="width:85px;"placeholder="物资名称" />
						 
						
						<!-- <a href="javascript:checkaction(1)"   class="btn btn-default" id="">导出</a>&nbsp;
						<a href="#" onclick="overlay()" class="btn btn-default">导入</a> -->
						</div>	
						<table class="table">
							<thead>
								<tr>
									<th>
										<input type="checkbox" id="selAll" onclick="selectAll();"/>  全选
									</th>
									<th style="text-align:center">
										物资名称
									</th>
									<th style="text-align:center">
										申请人
									</th>
									<th style="text-align:center">
										单价
									</th>
									<th style="text-align:center">
										数量
									</th>
									<th style="text-align:center">
										日期
									</th>
									<th style="text-align:center">
										审核状态
									</th>
									<th style="text-align:center">
										操作
									</th>
								</tr>
							</thead>
							<tbody>
								<volist name="thesesList" id="vo">
								
								<tr class="<?php echo $col;?>">
									<td>
									<input type="checkbox" name="checkAll[]" id="checkAll" onclick="setSelectAll();" value="{$vo.id}"/>
									</td>
									<td style="text-align:center">
										{$vo.name}
									</td>
									<td style="text-align:center">
										{$vo.applicant}
									</td>
									<td style="text-align:center">
										{$vo.price}
									</td>
									<td style="text-align:center">
										{$vo.num}
									</td>
									<td style="text-align:center">
										{$vo.date}
									</td>
									<td style="text-align:center;"><if condition="$vo['status'] eq 0">
											<span style="color:blue">等待审核</span>
										<elseif condition="$vo['status'] eq 1"/>
											<span style="color:green">已通过审核</span>
										<else/><span style="color:red">已拒绝</span></if>
									</td>
									<td style="text-align:center">
										<if condition="$vo['status'] eq 1">
											--  --
										<else/>
										<a href="#" style="color:green;" data1="{$vo['id']}" class="edit">编辑</a>
										<a href="#" style="color:red;" data2="{$vo['id']}" class="delete">删除</a>
									</if>
									</td>
								</tr>
							</volist>
							
							</tbody>
						</table>
					</form>
					<div class="col-md-12 column">
						{$page}
					</div>
				</div>		
			</div>
		</div>
	</div>
</div>
<script>
$(".closePop").css('cusor','pointer').click(function(){
	$(".editSubject").hide();
});
 $(".edit").click(function () {
 	   $(".editSubject").show();
        var row = $(this).parents('tr');
        var id = $(this).attr('data1');
        $('#edit_id').val(id);
        $("#purchase_edit_form #name").val(row.children('td:eq(1)').html());
        $("#purchase_edit_form #applicant").val(row.children('td:eq(2)').html());
        $("#purchase_edit_form #price").val(row.children('td:eq(3)').html());
        $("#purchase_edit_form #num").val(row.children('td:eq(4)').html());
        $("#purchase_edit_form #datetimepicker").val(row.children('td:eq(5)').html());
        

        //return false
    });
 $("#purchase_edit_form").submit(function(e){
 		e.stopPropagation();
        e.preventDefault();
        var editSubject_data = $('#purchase_edit_form').serialize();
        console.log(editSubject_data);
         $.ajax({
            url:'__URL__/purchase_edit',
            type:'POST',
            dataType:'json',
            data:editSubject_data,
            success:function(data){
                if(data.status=='success'){
                    $(".editSubject").hide();
                  
                    alert("编辑成功");
                    window.location.reload();
                }else if(data.status=='error'){
                    alert("操作失败");
                }
            }
        });
       
    });
 $('.delete').click(function(){
 	var row = $(this).parents('tr');
    var id = $(this).attr('data2');
    $.ajax({
    	url:'__URL__/purchase_delete',
    	type:'post',
    	data:{'id':id},
    	dataType:'json',
    	success:function(data){
    		if(data.status=='success'){
                  
                    alert("操作成功");
                    window.location.reload();
                }else if(data.status=='error'){
                    alert("操作失败");
                }
            }
    	});
 });
	</script>
