
 
<div class="col-md-10 column" style="background-color:#eee;height:550px;">
    <div class="col-md-12 column" style="background-color:;color:red;font-size:30px;">
    欢迎访问后台管理系统！
    </div>
    <div class="col-md-12 column" style="margin-top:60px;">
        <div class="col-md-12 column" style="color:green;font-size:18px;">
            <div class="col-md-3 column" >
                当前登录IP：{$ip}
            </div>
            <div class="col-md-4 column" >
                当前登录城市：{$area}
            </div>
            <div class="col-md-4 column" >
                当前时间：{$time}
            </div>
        </div>
        <div class="col-md-12 column" style="margin-top:120px;">
            <div class="col-md-4 column" style="margin-top:20px;">
                课题数量：{$subject_num}
            </div>
            <div class="col-md-4 column" style="margin-top:20px;">
                新闻数量：{$news_num}
            </div>
            <div class="col-md-4 column" style="margin-top:20px;">
                科研平台数量：{$department_num}
            </div>
            <div class="col-md-4 column" style="margin-top:20px;">
                论文数量：{$theses_num}
            </div>
            <div class="col-md-4 column" style="margin-top:20px;">
                用户数量：{$user_num}
            </div>
            <div class="col-md-4 column" style="margin-top:20px;">
                科研成果数量：{$achievement_num}
            </div>
            <div class="col-md-4 column" style="margin-top:20px;">
                学术著作数量：{$news_num}
            </div>
        </div>
</div>
</div>
</div>

<script>
</script>