<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<br/>
			
				<div class="col-md-3 column">
					<div class="col-md-12 column">
						<div class="panel-group" id="panel-851664">
							<div class="panel panel-default">
								<div class="panel-heading">
									 <a class="panel-title" data-toggle="collapse" data-parent="#panel-851664" href="#panel-element-673135">操作导航</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12 column">
						<div class="panel-group" id="panel-851664">
							<div class="panel panel-default">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="{:U('Xshd/index')}">会议</a></li>
									<li><a href="{:U('Xshd/addLecture')}">讲座</a></li>
									<li><a href="{:U('Xshd/addComposition')}">学术著作</a></li>					
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-12 column">
						<div class="panel-group" id="panel-851664">
							<div class="panel panel-default">
								<div class="panel-heading">
									 <a class="panel-title" data-toggle="collapse" data-parent="#panel-851664" href="#panel-element-673135">浏览导航</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12 column">
						<div class="panel-group" id="panel-851664">
							<div class="panel panel-default">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="{:U('Xshd/scanMeet')}">会议</a></li>
									<li><a href="{:U('Xshd/scanLecture')}">讲座</a></li>
									<li class="active"><a href="{:U('Xshd/scanComposition')}">学术著作</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-8 column" style="background-color:#f8f8f8;border-radius:6px;border:1px solid #e8e8e8;">
					<form name="form2" method="get" action="">
						<div class="form-group " style="margin-top:20px;">
							<!-- <a href="javascript:checkaction(1)"   class="btn btn-default" id="">批量删除</a> --><input type="submit" class="btn btn-default pull-right search" style="color:white;background-color:#337ab7;" value="搜索">
							<!-- <input class="form-control col-sm-3 pull-right " type="text" id="" name=""  placeholder="年份" class="text" style="width:85px;"/> -->
							<input class="form-control col-sm-3 pull-right" name="name" type="text" style="width:85px;"placeholder="著作名称" />
						 
						
						<!-- <a href="javascript:checkaction(1)"   class="btn btn-default" id="">导出</a>&nbsp;
						<a href="#" onclick="overlay()" class="btn btn-default">导入</a> -->
						</div>
						<table class="table">
							<thead>
								<tr>
									<th>
										著作名称
									</th>
									<th>
										作者
									</th>
									<th>
										入库时间
									</th>
									<th>
										图书状态
									</th>
								</tr>
							</thead>
							<tbody>
								<volist name="thesesList" id="vo">
							
									<tr>
										<td>
											{$vo.compositionname}
										</td>
										<td>
											{$vo.author}
										</td>
										<td>
											{$vo.time}
										</td>
										<td>
											<if condition="$vo['status'] eq 3">
												<span style="color:red">被借阅</span>
												<if condition="$vo['uid'] eq $_SESSION['user_id']">
												<a href="#" class="returnbook" data="{$vo['id']}" style="color:green">归还</a>
												</if>
												<elseif condition="$vo['status'] eq 1"/>
												<span style="color:green">在库</span>
												<a href="#" class="readbook" data1="{$vo['id']}" style="color:blue">借阅</a>
												<elseif condition="$vo['status'] eq 2"/>
												<span style="color:blue">已申请借阅，待回复</span>
												<elseif condition="$vo['status'] eq 4"/>
												<span style="color:blue">已申请归还，待确认</span>
											</if>
										</td>
										
									</tr>
								</volist>
							</tbody>
						</table>
					</form>
					<div class="col-md-12 column">
						{$page}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$('.returnbook').click(function(){
	var data={};
    data.id = $(this).attr('data');
	$.ajax({
		url:'__URL__/returnbook',
		type:'POST',
		data:data,
		dataType:'JSON',
		success:function(data){
			if(data.status == 'success'){
				alert('归还图书成功！');
				window.location.reload();
			}else{
				alert('归还图书失败！');
			}
		}
	})
})
$('.readbook').click(function(){
	var data={};
    data.id = $(this).attr('data1');
	$.ajax({
		url:'__URL__/readbook',
		type:'POST',
		data:data,
		dataType:'JSON',
		success:function(data){
			if(data.status == 'success'){
				alert('申请借阅成功，等待审核！');
				window.location.reload();
			}else{
				alert('借阅图书失败！');
			}
		}
	})
})
	</script>
