<style>
#modal-overlay {
             /*visibility: hidden; */   
             display:none;
             position: absolute;   /* 使用绝对定位或固定定位  */
             left: 0px;    
             top: 0px;
             width:100%;
             height:100%;
            /* text-align:center;*/
             z-index: 1000;
            /* background-color: #333; 
             opacity: 0.5;   /* 背景半透明 */
        }
        /* 模态框样式 */
.modal-data{
             width:750px;
             height:330px;
             margin: 100px auto;
             background-color: #fff;
             border:1px solid #000;
             padding:15px;
             /*text-align:center;*/
        }

</style>
<div style="height:30px;background-color:#E4E6E9;
 padding:5px 3px 0px 200px;">系统管理>用户组管理</div>
<div class="col-md-10 column" style="background-color:#fff;height:530px;">
    <div class="col-md-0">
    </div>
    <div id="modal-overlay" class="userAdd">
        <div class="modal-data">
            <ul class="breadcrumb">
                <li>添加用户组</li>
                 <a class="pull-right closePop" style="color:#485b7f;cursor:pointer;">关闭</a>
            </ul>
           
        
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-win">
                        <form id="addUser_form" method="post" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right"> 用户组 </label>

                                <div class="col-sm-9">

                                    <input type="text" name="group_name" id="edite_user" placeholder="用户组" class="col-xs-10 col-sm-5" required/>

                                </div>
                            </div>
                            <div class="space-4"></div>

                            <div class="form-group">
                            
                                <label class="col-sm-3 control-label no-padding-right"> 备注：</label>

                                <div class="col-sm-9">
                                    <input type="text" name="note" class="col-xs-10 col-sm-5" required/>
                                </div>
                            </div>

                            <div class="space-4"></div>

                          
                            <div class="clearfix form-actions">
                                <div>
                                    <button class="btn btn-info" type="submit">
                                        <i class="icon-ok bigger-110"></i>
                                        提交
                                    </button>

                                    &nbsp; &nbsp; &nbsp;
                                    <button class="btn btn-info" type="reset">
                                        <i class="icon-undo bigger-110"></i>
                                        重置
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>



   <div id="modal-overlay" class="userEdit">
        <div class="modal-data">
            <ul class="breadcrumb">
                <li>编辑用户组</li>
                <a class="pull-right closePop" style="color:#485b7f;cursor:pointer;">关闭</a>
            </ul>
            
        
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-xs-win">
                       
                        <form style="position:relative;" id="user_edite_form" class="form-horizontal" role="form">

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right"> 用户组 </label>

                                <div class="col-sm-9">

                                    <input type="text" name="group_name" id="edite_user" placeholder="用户组" class="col-xs-10 col-sm-5" required/>

                                </div>
                            </div>
                            <div class="space-4"></div>

                            <div class="form-group">
                            
                                <label class="col-sm-3 control-label no-padding-right"> 备注：</label>

                                <div class="col-sm-9">
                                    <input type="text" name="note" class="col-xs-10 col-sm-5" required/>
                                </div>
                            </div>
                            
                            <div class="space-4"></div>
                            <input type="hidden" id='edit_id' name="id"  />
                            <div class="clearfix form-actions">
                                <div>
                                    <button class="btn btn-info user_edite" type="submit">
                                        <i class="icon-ok bigger-110"></i>
                                        提交
                                    </button>

                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>
     <div id="modal-overlay" class="userDel">
        <div class="modal-data">
            <ul class="breadcrumb">
                <li>
                    删除用户组
                </li>
                <a class="pull-right closePop" style="color:#485b7f;cursor:pointer;">关闭</a>
            </ul>
        
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-xs-win">
                      
                        <form style="position:relative;top:20px;" id="user_delete_form" class="form-horizontal" role="form">

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right"> 确定要删除此用户组？ </label>
                            </div>

                            <input type="hidden" id="del_id"  name="id"/>
                            <div class="clearfix form-actions">
                                <div>
                                    <button class="allusers btn btn-danger" >
                                        <i class="icon-remove  bigger-110 "></i>
                                        删除
                                    </button>

                                    &nbsp; &nbsp; &nbsp;
                                    <button  type="reset" class="btn closePop">
                                        <i class="icon-undo bigger-110"></i>
                                        取消
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.col-->
                </div>               
            </div>
        </div>
    </div>
    <div class="buttonGroup"></br>
        <a href="#"   class="btn btn-default delAll" id="">批量删除</a>
        <a href="#" class="btn btn-default" id="userAdd">添加</a>
    </div>
    <br/>
    <div class="table-responsive" style="height:400px;">
        <table id="sample-table-1" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                   
                    <th><input type="checkbox" id="selAll" onclick="selectAll();"/>  全选</th>
                    <th>用户组</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
             <volist name="result" id="usergroup_data_vo" >
                <tr>
                    <td><input type="checkbox" name="checkAll" id="checkAll" onclick="setSelectAll();" value="{$vo.id}"/></td>
                    <!-- <td>南京机房</td> -->
                    <td>{$usergroup_data_vo['group_name']}</td>
                    <td>{$usergroup_data_vo['title']}</td>
                    <td><if condition="$usergroup_data_vo['title'] eq '超级管理员'">
                            ---
                            <else/>
                            <a  href="#" class="green Usered"  data1="{$usergroup_data_vo['id']}" title="编辑">
                           编辑
                        </a>

                        <a  href="#" class="red Userde"  data2="{$usergroup_data_vo['id']}"title="删除">
                            删除
                        </a>
                        <a href="{:U('Xtgl/authorize',array('id'=>$usergroup_data_vo['id']))}">权限管理</a>   
                        </if>                        
                    </td>
                </tr>
               </volist>
            </tbody>
        </table>
    </div>


    <div class="dataTables_paginate paging_bootstrap">
        <ul class="pagination">
            {$usergroup_show}
        </ul>
    </div>
</div>

<script>
    $(".closePop").css('cusor','pointer').click(function(){
        $(".userAdd").hide();
        $(".userEdit").hide();
        $(".userDel").hide();
    });
    /* 添加用户*/
    $("#userAdd").click(function () {
        $(".userAdd").show();
       
    });
    $('#addUser_form').submit(function(e){
        e.stopPropagation();
        e.preventDefault();
        var data = $('#addUser_form').serialize();
        var checkVal= $('#ischeck input').serialize();
        

            $.ajax({
                 type: "POST",
                 url: "__URL__/usergroup_add",
                 data: data,
                 dataType: "json",
                success:function(data){
                    if(data.status=='success'){
                        $(".addUser").hide();
                        $("#fade").hide();
                        $('#addUser_form')[0].reset();
                        alert("添加成功");
                        window.location.reload();
                    }else if(data.status=='1'){
                        alert("用户已存在");
                    }else{
                        alert("添加失败");

                    }
                }
             });
       
        
    })

 /*编辑用户*/
    $(".Usered").click(function(){

        $(".userEdit").show();
        var id = $(this).attr('data1');
        $("#edit_id").val(id);
    });


    $('#user_edite_form').submit(function(e){
        e.stopPropagation();
        e.preventDefault();
        var editeUser_data = $('#user_edite_form').serialize();
        $.ajax({
            url:'__URL__/do_usergroup_edit',
            type:'POST',
            dataType:'json',
            data:editeUser_data,
            success:function(data){
                if(data.status=='success'){
                    $(".userEdit").hide();
                    $("#fade").hide();
                    $('#user_edite_form')[0].reset();
                    alert("编辑成功");
                    window.location.reload();
                }else if(data.status=='1'){
                   alert("用户已存在");
                }
            }
        });
    });
 /*删除用户*/
  //单条删除
    $(".Userde").click(function () {
       /* $(":checked").attr('checked',false);
        $(this).parent().parent().children().first().children().first().attr('checked','checked');*/
            var id = $(this).attr('data2');
            $('#del_id').val(id);
            $(".userDel").show();
            return false;
    });
    
      

    $('#user_delete_form').submit(function(e){
        e.stopPropagation();
        e.preventDefault();
        var id = $("#del_id").val();
        $.ajax({
            url:'__URL__/usergroup_delete',
            type:'POST',
            dataType:'json',
            data:{'id':id},
            success:function(data){
                if(data.status=='success'){
                    $("#userDel").hide();
                    $("#fade").hide();
                    $('#user_delete_form')[0].reset();
                    alert("删除成功");
                    window.location.reload();
                    $(":checked").attr('checked',false);
                }else{
                    $("#userDel").hide();
                    $("#fade").hide();
                    $(":checked").attr('checked',false);
                    alert("不允许删除当前用户组");
                }
            }
        });

    });


 $(".delAll").click(function(){
    var data={};
    data.id = $("input:checkbox[name='checkAll']:checked").map(function(){
        return $(this).val();
    }).get().join(",");
    //alert(check);
    $.ajax({
        url:'__URL__/usergroup_delAll',
        type:'post',
        data:data,
        dataType:'JSON',
        success:function(data){
            if(data.status == 'success'){
                alert('删除成功！');

                window.location.reload();
                $(':checked').attr('checked',false);
            }else{
                alert('删除失败！');
            }

        }

    });
});

</script>