<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<br/>
				<div class="col-md-3 column">
					<div class="col-md-12 column">
						<div class="panel-group" id="panel-851664">
							<div class="panel panel-default">
								<div class="panel-heading">
									 <a class="panel-title" data-toggle="collapse" data-parent="#panel-851664" href="#panel-element-673135">统计导航</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 column">
						<div class="panel-group" id="panel-851664">
							<div class="panel panel-default">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="{:U('Kytj/index')}">论文统计</a></li>
									<li><a href="{:U('Kytj/addAchievement')}">科研成果</a></li>
									<li><a href="{:U('Kytj/addPropty')}">知识产权</a></li>
									<li><a href="{:U('Kytj/addEquipment')}">仪器设备</a></li>									
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-12 column">
						<div class="panel-group" id="panel-851664">
							<div class="panel panel-default">
								<div class="panel-heading">
									 <a class="panel-title" data-toggle="collapse" data-parent="#panel-851664" href="#panel-element-673135">浏览导航</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12 column">
						<div class="panel-group" id="panel-851664">
							<div class="panel panel-default">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="{:U('Kytj/scanTheses')}">论文统计</a></li>
									<li><a href="{:U('Kytj/scanAchievement')}">科研成果</a></li>
									<li class="active"><a href="{:U('Kytj/scanPropty')}">知识产权</a></li>
									<li><a href="{:U('Kytj/scanEquipment')}">仪器设备</a></li>
									<li><a href="{:U('Kytj/fileDownload')}">文件下载</a></li>
									<li><a href="{:U('Kytj/logList')}">日志信息</a></li>
								</ul>
							</div>
						</div>
					</div>					
				</div>
				<div class="col-md-8 column" style="background-color:#f8f8f8;border-radius:6px;border:1px solid #e8e8e8;">
					<form name="form2" method="post" action="">
						<div class="form-group " style="margin-top:20px;">
							<a href="javascript:checkaction(1)"   class="btn btn-default" id="">批量删除</a><a href="javascript:checkaction(0)"   class="btn btn-default pull-right" style="color:white;background-color:#337ab7;" id="">搜索</a>
							<input class="form-control col-sm-3 pull-right " type="text" id="" name=""  placeholder="年份" class="text" style="width:85px;"/>
							<input class="form-control col-sm-3 pull-right" name="starname" type="text" style="width:85px;"placeholder="专利名称" />
						 
						
						<!-- <a href="javascript:checkaction(1)"   class="btn btn-default" id="">导出</a>&nbsp;
						<a href="#" onclick="overlay()" class="btn btn-default">导入</a> -->
						</div>	
						<table class="table">
							<thead>
								<tr>
									<th>
										<input type="checkbox" id="selAll" onclick="selectAll();"/>  全选
									</th>
									<th>
										专利名称
									</th>
									<th>
										专利人
									</th>
									<th>
										年份
									</th>
								</tr>
							</thead>
							<tbody>
								<volist name="thesesList" id="vo">								
									<tr>
										<td>
											<input type="checkbox" name="checkAll[]" id="checkAll" onclick="setSelectAll();" value="{$vo.id}"/>
										</td>
										<td>
											{$vo.cname}
										</td>
										<td>
											{$vo.name}
										</td>
										<td>
											{$vo.date}
										</td>
									</tr>
								</volist>
							</tbody>
						</table>
					</form>
					<div class="col-md-12 column">
						{$page}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	
	</script>
