
 <div style="height:30px;background-color:#E4E6E9;
 padding:5px 3px 0px 200px;">项目申报管理>科研平台申请</div>
<div class="col-md-10 column" style="background-color:#fff;height:550px;">
    <div class="col-md-0">
    </div>
     <div class="col-md-12" style="background-color:#fff;border-radius:0px";>

                    <form name="form2" method="post" action="">
                        <table class="table  table-striped table-bordered table-hover"><br/>
                            <input  class="btn btn-default pull-right" type="submit" value="搜索">
                            <div class="col-md-2 pull-right">
                                <input class="form-control" type="text">
                            </div>
                                                                    
                            <thead>
                                <tr>
                                   <th>
                                        <input type="checkbox" id="selAll" onclick="selectAll();"/>  全选
                                    </th>
                                    <th>
                                        平台名称
                                    </th>
                                    <th>
                                        申请人
                                    </th>
                                    <th>
                                        申请时间
                                    </th>
                                    <th>
                                        占用时间
                                    </th>
                                     <th>
                                        操作
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <volist name="thesesList" id="vo">
                               
                                <tr>
                                    <td>
                                    <input type="checkbox" name="checkAll[]" id="checkAll" onclick="setSelectAll();" value="{$vo.id}"/>
                                    </td>
                                    <td>
                                        {$vo.department_name}
                                    </td>
                                    <td>
                                        {$vo.user}
                                    </td>
                                    <td>
                                        {$vo.date}
                                    </td> 
                                    <td>
                                        {$vo.time}
                                    </td>
                                    <td>
                                       <if condition="$vo['status'] eq 0">
                                       <a  data1 = "{$vo['id']}"href="#" class="green agree"title="同意">
                                           同意
                                        </a>

                                        <a data2 = "{$vo['id']}" class="red refuse"  href="#" title="拒绝">
                                            拒绝
                                        </a>
                                        
                                    <elseif condition = "$vo['status'] eq 1"/>
                                    <span style="color:green">已同意</span>
                                <else/> <span style="color:red">已拒绝</span></if>  
                                    </td>                              
                                </tr>
                            </volist>
                            <tr>
                               <td>
                                <img src="__PUBLIC__img/arrow_ltr.gif"/>
                               </td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <div class="col-md-12 column">
                        {$page}
                    </div>
                </div>
                </div>
            </div>
             <script>
            $('.agree').click(function(){
                var data ={};
                data.id = $(this).attr('data1');
                data.stat = 'agree';
                $.ajax({
                    type:'POST',
                    url:'__URL__/department_edit',
                    data:data,
                    dataType:'json',
                    success:function(data){
                        if(data.status == 'success'){
                            alert('操作成功！');
                            window.location.reload();
                        }else{
                            alert('操作失败！');
                            window.location.reload();

                        }
                       
                    }
                });
            });
            $('.refuse').click(function(){
                var data ={};
                data.id = $(this).attr('data2');
                data.stat = 'refuse';
                $.ajax({
                    type:'POST',
                    url:'__URL__/department_edit',
                    data:data,
                    dataType:'json',
                    success:function(data){
                        if(data.status == 'success'){
                            alert('操作成功！');
                            window.location.reload();
                        }else{
                            alert('操作失败！');

                        }
                       
                    }
                });
            });
            </script>